*.png
/checkpoints
/data
/results
/wandb
/.vscode
__pycache__/
output_cv/
output_all/
output_demo/
output_debug/
output/

# added by ylw
*.pt
*.pth
*mj*
s3helper/
TODO.md
pretrained_models
work_dir

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

